.Header{
    display:flex;
    margin-top:30px;
    margin-left:150px;
    
    .Refresh_Icon{
        margin-top:15px;
        margin-left:20px;
        cursor:pointer;
    }

    .Refresh_Time{
        margin-top:17px;
        margin-left:5px;
        font-weight: bold;
        color:grey;
    }
    
}
.Full_container{
    margin-left:150px;
    display:grid;
    grid-template-rows: 250px 380px 250px 250px;
    grid-template-columns: 300px 160px 235px 235px 160px 300px;
    
    grid-template-areas: 
        "A B B I I J"
        "C C C D D D"
        "E E F F G G"
        "E E H H G G";
  

    .User_Num_Card{
        grid-area: A;
        place-self: center start;

    }

    .Visitor_Num_Card{
        grid-area: B;
        place-self: center center;
        padding-left:30px;
    }

    .Total_Problem_Card{
        grid-area: I;
        place-self: center center;
        padding-right:30px;
    }

    .Problem_Num_Card{
        grid-area: J;
        place-self: center center;


    }

    .User_Graph_Card{
        grid-area: C;
        place-self: start start;


    }

    .Problem_Graph_Card{
        grid-area: D;
        place-self: start end;
    }

    .User_Rank_Card{
        grid-area: E;
        place-self: end start;
        z-index : 1;
    }

    .Correct_Rate_Card{
        grid-area: F;
        border:solid;

    }

    .Wrong_Rate_Card{
        grid-area: H;
        border:solid;


    }
   
    .Problem_Per_Day{
        grid-area: G;
        border:solid;

    }

}