.Title_dashboard{
    margin-top:30px;
    margin-left:150px;
}

.Full_container{
    margin-left:150px;
    display:grid;
    grid-template-rows: 250px 350px 250px 250px;
    grid-template-columns: 400px 300px 300px 400px;
    
    grid-template-areas: 
        "A A B B"
        "C C D D"
        "E F F G"
        "E H H G";
  

    .User_Num_Card{
        grid-area: A;
        place-self: center center;

    }

    .Problem_Num_Card{
        grid-area: B;
        place-self: center center;


    }

    .User_Graph_Card{
        grid-area: C;
        place-self: center center;


    }

    .Accessor_Graph_Card{
        grid-area: D;
      

    }

    .User_Rank_Card{
        grid-area: E;
        border:solid;

    }

    .Correct_Rate_Card{
        grid-area: F;
        border:solid;

    }

    .Wrong_Rate_Card{
        grid-area: H;
        border:solid;


    }
   
    .Problem_Per_Day{
        grid-area: G;
        border:solid;

    }

}